@{
    ViewData["Title"] = "Expenses Page";
}
@model List<ExpenseModel>

<div class="text-center">
    <h1 class="display-4">Expense MasterList</h1>
    <br/>
    <h2>
        Total Expenses PHP = @ViewBag.Expense
    </h2>
    <br />
    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>PHP</th>
                <th>Description</th>
                <th>Edit/Delete</th>
            </tr>
        </thead>
        <tbody>
            @{
                foreach(var expense in Model)
                {
                    <tr>
                    <td>
                       @expense.Id
                    </td>
                    <td>
                       @expense.Value
                    </td>
                    <td>
                       @expense.Description
                    </td>
                    <td>
                        <a asp-action="CreateEditExpense" asp-route-id="@expense.Id">Edit</a>
                        <a asp-action="DeleteExpense" asp-route-id="@expense.Id">Delete</a>
                    </td>
                    </tr>
                }
            }
        </tbody>
    </table>
</div>
